<p>
  <%= link_to t('back'), '/' %>
</p>

<p class='title'><%= t('b64_title') %></p>

<%= form_with url: "/tools/base64", method: :post do |form| %>
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="code" value='en' checked>
        <%= t('b64_encode') %>
      </label>
      <br/>
      <label class="radio">
        <input type="radio" name="code" value='de'>
        <%= t('b64_decode') %>
      </label>
    </div>
    <div class="control">
      <%= form.text_area :b64txt, autofocus: true, class: 'textarea is-primary',
        placeholder: t('b64_text') %><br/>
    </div>
    <%= form.submit t('b64_button'), class: 'button is-primary' %>
  </div>
<% end %>
