<%= render "devise/shared/top" %>
<h2 class='subtitle'><%= t('.sign_up') %></h2>

<div class='block'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'label' %><br />
      <div class='control'>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <div class='control'>
        <%= f.password_field :password, autocomplete: "new-password", class: 'input is-primary' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <div class='control'>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-primary' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'button is-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
