<%= render "devise/shared/top" %>
<h2><%= t('.change_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, t('.new_password'), class: 'label' %><br />
    <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br />
    <% end %>
    <div class='control'>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input is-primary' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('.confirm_new_password'), class: 'label' %><br />
    <div class='control'>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-primary' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.change_my_password'), class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
