<footer class='footer has-background-darkpurple has-text-seaweed'>
  <div class='container has-text-centered'>
    <div class='columns'>
      <div id='about' class='column'>
        <p><%= t("about1").html_safe %></p>
      </div>
      <div class='column'>
        <%= link_to fa_icon('fa-twitter fa-2x','',''), "https://twitter.com/k2", target: '_blank' %>
        <%= link_to fa_icon('fa-linkedin fa-2x','',''), "https://linkedin.com/k2", target: '_blank' %>
        <%= link_to fa_icon('fa-gitlab fa-2x','',''), "https://gitlab.com/adminrezo/k2", target: '_blank' %>
      </div>
      <div class='column'>
        <p><%= t("about2").html_safe %></p>
      </div>
    </div>
  </div>
</footer>
