<section class="hero-main hero has-background-beaublue">
  <div class="hero-body">
    <div class='container is-fullhd has-text-centered'>
      <h1 class='thetitle'>K2</h1>
      <h2 class='thesubtitle'><%= t("subtitle") %></h2>
    </div>
  </div>
</section>
