<p>
  <%= link_to t('back'), '/' %>
</p>

<%= render 'shared/alerts' %>
<p class='title'><%= t('pass_title') %></p>

<%= render 'shared/formtop' %>
<%= form_with url: '/tools/pass', method: :post do |form| %>
  <%= form.label :len, t('pass_length') %>
  <%= form.text_field :len, autofocus: true, placeholder: t('pass_between'), size: '2', maxlength: '2', class: 'input is-primary has-text-centered' %>
  <br/>
  <%= form.label :low, t('pass_low'), class: 'checkbox' %>
  <%= form.check_box :low, checked: 'checked' , disabled: 'disabled' %>
  <br/>
  <%= form.label :upp, t('pass_upp'), class: 'checkbox' %>
  <%= form.check_box :upp, checked: 'checked' %>
  <br/>
  <%= form.label :num, t('pass_numb'), class: 'checkbox' %>
  <%= form.check_box :num, checked: 'checked' %>
  <br/>
  <%= form.label :spec, t('pass_spec'), class: 'checkbox' %>
  <%= form.check_box :spec, checked: 'checked' %>
  <br/>
  <%= form.submit  t('pass_gen'), class: 'button is-primary' %>
<% end %>
<%= render 'shared/formbottom' %>
