<h1 class='subtitle'><%= t('.title') %></h1>

<p class='block'>
  <%= link_to fa_icon('fa-plus-square','','.newdomain'), '/' %>
  <br/>
  <%= link_to fa_icon('fa-trash','has-text-danger','.deleteall'), '/domains/delete', data: { confirm: "#{t('.confirm')}" } %>
</p>

<table class='table is-striped is-narrow is-hoverable is-fullwidth'>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".show") %></th>
      <th><%= t(".rescan") %></th>
      <th><%= t(".delete") %></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
  
        <td><%= link_to fa_icon('fa-eye','',''), "/domains/#{domain.id}" %></td>
        <td><%= link_to fa_icon('fa-gears','',''), "/domains/#{domain.id}/update" %></td>
        <td><%= link_to fa_icon('fa-trash','has-text-danger',''), "/domains/#{domain.id}", method: :delete, data: { confirm: "#{t('.confirm2')}" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

