<div class='block'>
  <p class='title'><%= t("title") %> <%= @domain.name %></p>
  <p><%= t("update") %> : <%= @domain.created_at %></p>
</div>

<p class='block'>
  <%= link_to t('back'), "/domains" %>
</p>

<div class='block'>
  <span class="">
  </span>
</div>

<aside class="menu block">
  <p class="menu-label">
    Menu
  </p>
  <ul class="menu-list">
    <li>
      <a href="/domains/<%= @domain.id %>/update">
        <i class='fa fa-gears has-text-warning'></i> <%= t('rescan') %>
      </a>
    </li>
    <li>
      <a href="/domains/<%= @domain.id %>.pdf">
        <i class='fa fa-file-pdf-o has-text-danger'></i> <%= t('pdfexport') %>
      </a>
    </li>
  </ul>
  <p class="menu-label">
    Scans
  </p>
  <ul class="menu-list">
    <li><%= link_to fa_icon('fa-header','has-text-primary','headers'), "/domains/headers/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-lock','has-text-primary','tls'), "/domains/tls/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-nodejs','has-text-primary','jslibs'), "/domains/jslibs/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-wordpress','has-text-primary','cms'), "/domains/cms/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-envelope','has-text-primary','mails'), "/domains/mails/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-sign-in','has-text-primary','ports'), "/domains/ports/#{@domain.id}" %></li>
    <li><%= link_to fa_icon('fa-list','has-text-primary','subdomains'), "/domains/subdomains/#{@domain.id}" %></li>
  </ul>
</aside>
