<%= show_title(t('mails'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('severity') %></th>
  <th><%= t('protocol') %></th>
  <th><%= t('value') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.mailconfs.empty? %>
    <tr>
      <td><%= fa_icon('fa-warning','tag is-danger','') %></td>
      <%= show_empty(2)&.html_safe %>
    </tr>
  <% else %>
  <%   @domain.mailconfs.each do |m| %>
      <tr>
        <td><%= show_note_tags(m.note) %></td>
        <td><%= m.protocol %></td>
        <td class='max-width-300'><%= m.value %></td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>


