<%= show_title(t('tls'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('version') %></th>
  <th><%= t('severity') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.tlsconfigs.empty? %>
    <tr><%= show_empty(2)&.html_safe %></tr>
  <% else %>
    <% @domain.tlsconfigs.each do |t| %>
      <tr>
        <td><%= t.version %></td>
        <td><%= show_note_tags(t.note) %></td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
