<%= show_title(t('cms'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('severity') %></th>
  <th><%= t('name') %></th>
  <th><%= t('version') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.cms.empty? %>
       <tr><%= show_empty(3)&.html_safe %></tr>
  <% else %>
    <% @domain.cms.each do |c| %>
         <tr>
           <td><%= show_note_tags(c.note) %></td>
           <td><%= c.name %></td>
           <td><%= c.version %></td>
         </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
