<%= show_title(t('subdomains'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('severity') %></th>
  <th><%= t('name') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.subdomains.empty? %>
    <tr>
      <%= show_empty(2)&.html_safe %>
    </tr>
  <% else %>
  <%   @domain.subdomains.each do |s| %>
      <tr>
        <td><%= show_note_tags(s.note) %></td>
        <td>
          <span><%= s.name %></span>
          <%= link_to fa_icon('fa-external-link','',''), "http://#{s.name}", target: '_blank' %>
        </td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
