<progress class="progress is-small is-danger" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('cms') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('name') %></th>
        <th><%= t('version') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.cms.empty? %>
           <tr><%= show_empty(3)&.html_safe %></tr>
      <% else %>
        <% @domain.cms.each do |c| %>
             <tr>
               <td><%= show_note_pdf(c.note) %></td>
               <td><%= c.name %></td>
               <td><%= c.version %></td>
             </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-link" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('headers') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('name') %></th>
        <th><%= t('value') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.headers.empty? %>
        <tr><%= show_empty(3)&.html_safe %></tr>
      <% else %>
        <% @domain.headers.each do |h| %>
          <tr>
            <td><%= show_note_pdf(h.note) %></td>
            <td><%= h.name %></td>
            <td><%= h.value %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-primary" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('jslibs') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('library') %></th>
        <th><%= t('version') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.jslibs.empty? %>
        <tr><%= show_empty(3)&.html_safe %></tr>
      <% else %>
      <%   @domain.jslibs.each do |j| %>
          <tr>
            <td><%= show_note_pdf(j.note) %></td>
            <td><%= j.library %></td>
            <td><%= j.version %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-warning" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('mails') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('protocol') %></th>
        <th><%= t('value') %></th>
      </tr>
    </thead>
    <tbody>
    <% if @domain.mailconfs.empty? %>
      <tr>
        <td><%= fa_icon('fa-warning','tag is-danger','') %></td>
        <%= show_empty(2)&.html_safe %>
      </tr>
    <% else %>
    <%   @domain.mailconfs.each do |m| %>
        <tr>
          <td><%= show_note_pdf(m.note) %></td>
          <td><%= m.protocol %></td>
          <td><%= m.value %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-link" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('ports') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('number') %></th>
        <th><%= t('software') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.ports.empty? %>
        <tr>
          <%= show_empty(3)&.html_safe %>
        </tr>
      <% else %>
      <%   @domain.ports.each do |p| %>
          <tr>
            <td><%= show_note_pdf(p.note) %></td>
            <td><%= p.number %></td>
            <td><%= p.software %> <%= p.version %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-danger" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('subdomains') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('name') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.subdomains.empty? %>
        <tr>
          <%= show_empty(2)&.html_safe %>
        </tr>
      <% else %>
      <%   @domain.subdomains.each do |s| %>
          <tr>
            <td><%= show_note_pdf(s.note) %></td>
            <td><span><%= s.name %></span><%= link_to fa_icon('fa-external-link','',''), "http://#{s.name}", target: '_blank' %></td>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>


<div class="page-break"></div>
<progress class="progress is-small is-primary" value="100" max="100"></progress>
<h2 class="block subtitle"><%= t('tls') %></h2>
<p class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('severity') %></th>
        <th><%= t('version') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @domain.tlsconfigs.empty? %>
        <tr><%= show_empty(2)&.html_safe %></tr>
      <% else %>
        <% @domain.tlsconfigs.each do |t| %>
          <tr>
            <td><%= show_note_pdf(t.note) %></td>
            <td><%= t.version %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>
