
/* COLORS */

$beaublue: #bfdbf7;
$beaublue-invert: findcolorinvert($beaublue);
$celadon: #bee7b8;
$celadon-invert: findcolorinvert($celadon);
$darkorng: #ba3b46;
$darkorng-invert: findcolorinvert($darkorng);
$darkpurple: #160f29;
$darkpurple-invert: findcolorinvert($darkpurple);
$lavender: #e1e5f2;
$lavender-invert: findcolorinvert($lavender);
$seaweed: #1f7a8c;
$seaweed-invert: findcolorinvert($seaweed);
$camel: #ffd166;
$camel-invert: findcolorinvert($camel);
// $custom-colors: ("darkpurple": ($darkpurple, $darkpurple-invert), "seaweed": ($seaweed, $seaweed-invert));
$custom-colors: ("darkpurple": ($darkpurple, $darkpurple-invert), "seaweed": ($seaweed, $seaweed-invert), "beaublue": ($beaublue, $beaublue-invert), "lavender": ($lavender, $lavender-invert), "darkorng": ($darkorng, $darkorng-invert), "camel": ($camel, $camel-invert), "celadon": ($celadon, $celadon-invert));

$danger: $darkorng;
$info: $beaublue;
$link: $seaweed;
$primary: $darkpurple;
$success: $celadon;
$warning: $camel;


/* CLASSES */

.btns { text-align: center; }
.footer { margin-top: auto; height: 250px; }
.footer a { color: $beaublue; }
.footer .icon { width: 2.5rem; }
.k2 { 
  background: url('/images/background.webp') no-repeat fixed center top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.master { background-color: white; }
.max-width-300 {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pwgen { font-size: 16pt; background: $lavender; padding: 5px; width: 250px; margin: auto auto; }
.splashscreen {
  background: url('/images/background.webp') no-repeat fixed center top;
  background-size: cover;
  height: 500px;
}
.spaced { padding-top: 10px; padding-bottom: 10px; }
.start { margin-top: 100px; }
.table { margin-left: auto; margin-right: auto; }
.thetitle { font-size: 40px; font-weight: 800; color: $primary; }
.thesubtitle { font-size: 28px; font-weight: 800;  color: $primary; }
.title { color: $primary; }
.word-break { word-break: break-all; }

/* IDS */

#csr { text-align: left; margin: auto; width: 400px; }

/* TAGS */

pre { background-color: $lavender !important; color: $primary !important; }


/* IMPORTS */

@import 'bulma'
