<p><%= link_to t('back'), '/' %></p>

<p class='title'><%= t('dns_title') %></p>

<%= render 'shared/formtop' %>
<%= form_with url: "/tools/dnspropagation", method: :post do |form| %>
  <%= form.text_field :fqdn, autofocus: true, placeholder: t('domain'), class: 'input is-primary has-text-centered' %>
  <%= form.submit t('button'), class: 'button is-primary' %>
<% end %>
<%= render 'shared/formbottom' %>
