<!doctype html>
<html>
  <%= render "shared/head" %>
  <body class='index has-navbar-fixed-top has-background-beaublue'>
    <%= render "shared/menu" %>
    <div class='container is-fullhd has-text-centered k2'>
      <div class='columns'>
        <div class='column is-1'></div>
        <div class='column master word-break'>
          <%= render "shared/alerts" %>
          <%= yield %>
        </div>
        <div class='column is-1'></div>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>

