<!doctype html>
<html>
  <%= render "shared/head" %>
  <body class='index has-navbar-fixed-top has-background-beaublue'>
    <%= render "shared/menu" %>
    <%= render "shared/header" %>
    <div id='start' class='container is-fullhd has-text-centered splashscreen'>
      <div class='columns'>
        <div class='column'></div>
        <div class='column'>
          <%= render "shared/alerts" %>
          <%= yield %>
        </div>
        <div class='column'></div>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
