<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body class='index has-navbar-fixed-top'>
    <div class='container is-fullhd has-text-centered k2'>
      <div class='columns'>
        <div class='column is-one-quarter'></div>
        <div class='column is-half master'>
          <%= yield %>
        </div>
        <div class='column is-one-quarter'></div>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
